<form action="/games" method="POST">
    <label for="name">Title:</label>
    <input type="text" name="name"><br>
    <label for="console">Console</label>
    <input type="text" name="console"><br>
    <label for="release_date">Release Date:</label>
    <input type="number" name="release_date"><br>
    <label for="details">Details:</label>
    <textarea  name="details" id="" cols="30" rows="10" placeholder="Enter game details here"></textarea>
    <input type="submit" value="Add New Game">
</form>