<form action="/games" method="POST">
    <label for="name">Title:</label>
    <input type="text" name="name">
    <label for="console">Console</label>
    <input type="text" name="console">
    <label for="release_date">Release Date:</label>
    <input type="number" name="release_date">
    <label for="details">Details:</label>
    <input type="text" name="details">
    <input type="submit" value="Add New Game">
</form>