<header><h1>The Video Game Database</header></h1>

  <p><h3>Welcome to the home page please login or sign up</h3>
    <body>
      <p><a href="/login">Login</a></p>
      <p><a href="/signup">Sign Up</a></p>
    </body>
  


