<header><h1>The Video Game Database</header></h1>

  <p><h3>Welcome to the home page please login or sign up</h3>
    <body>
     <a href="/login">Log In</a>
     <a href="/signup">Sign Up</a>
    </body>
  


